node-red-export
[{"id":"eaadd764.1664f8","type":"subflow","name":"IP/DNS","info":"Holder to link node identity on the net.","category":"TutorialIoT","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[{"id":"eaadd764.1664f8","port":0}]}],"icon":"node-red-contrib-watson-content-hub/user.png"},{"id":"3f8a33f3.ef5d2c","type":"subflow","name":"ChatFeatures","info":"","category":"AlephClan","in":[{"x":50,"y":30,"wires":[{"id":"42c6942b.165b9c"},{"id":"387453b0.0c5c7c"}]}],"out":[],"icon":"node-red-contrib-iot-virtual-device/vdProperties.png"},{"id":"42c6942b.165b9c","type":"ui_template","z":"3f8a33f3.ef5d2c","group":"9d977dc7.e779f","name":"Features","order":4,"width":"6","height":"6","format":"<h2>Features</h2>\n<ul>\n    <li ng-repeat=\"feature in msg.payload.features\">\n        {{feature.name}}        \n    </li>\n</ul>\nFin\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":204.78334045410156,"y":165.41665649414062,"wires":[[]]},{"id":"387453b0.0c5c7c","type":"debug","z":"3f8a33f3.ef5d2c","name":"SYSTEM.CHAT.FEATURES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":326.08331298828125,"y":46.083335876464844,"wires":[]},{"id":"eb7a9a04.008ae8","type":"subflow","name":"ChatTexts","info":"Room talking boxes","category":"AlephClan","in":[{"x":68,"y":60,"wires":[{"id":"70f2e372.375434"},{"id":"df239dd4.0052a"}]}],"out":[{"x":677,"y":348.00000762939453,"wires":[]}],"icon":"node-red/join.png"},{"id":"e98ac996.2b99c8","type":"ui_form","z":"eb7a9a04.008ae8","name":"Sala","label":"Conversación","group":"9d977dc7.e779f","order":2,"width":"6","height":"6","options":[{"label":"Escribir:","value":"userText","type":"text","required":true}],"formValue":{"userText":""},"payload":"","submit":"Enviar","cancel":"Salir","topic":"user_speech","x":230.0833282470703,"y":178.08334350585938,"wires":[["35009841.b36a7","4b40be2d.57d108"]]},{"id":"4b40be2d.57d108","type":"ui_text","z":"eb7a9a04.008ae8","group":"9d977dc7.e779f","order":3,"width":"6","height":"6","name":"IA","label":"Alephbot dice:","format":"¿Has dicho {{msg.payload.userText}}? Igualmente, perdona, todavía no me han enseñado a decir nada. Lo siento. Vuelve más tarde.","layout":"col-center","x":244.08331298828125,"y":328.0833435058594,"wires":[]},{"id":"35009841.b36a7","type":"debug","z":"eb7a9a04.008ae8","name":"USER_INPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":583.0833129882812,"y":159.08334350585938,"wires":[]},{"id":"70f2e372.375434","type":"ui_template","z":"eb7a9a04.008ae8","group":"9d977dc7.e779f","name":"Header","order":1,"width":"6","height":"1","format":"<h2>{{msg.payload.label}}</h2>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190.78334045410156,"y":60.083335876464844,"wires":[[]]},{"id":"df239dd4.0052a","type":"debug","z":"eb7a9a04.008ae8","name":"ChatText.Init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":184.0833282470703,"y":113.08333587646484,"wires":[]},{"id":"9d977dc7.e779f","type":"ui_group","z":"","name":"Panel de webcams","tab":"29b38f57.5ec6c","disp":true,"width":"12","collapse":false},{"id":"29b38f57.5ec6c","type":"ui_tab","z":"","name":"Salas","icon":"blind","order":1},{"id":"1c492e82.f10699","type":"subflow","name":"BotTimer","info":"It is a silly bot to set an interval or a timeout. \nUseful if the user ask about the weather.","category":"AlephClan","in":[{"x":61,"y":66,"wires":[]}],"out":[{"x":705,"y":281.9999694824219,"wires":[{"id":"e3e22f0e.975ab","port":0}]}],"icon":"node-red/join.png"},{"id":"71bf7763.c4ef6","type":"function","z":"1c492e82.f10699","name":"REGISTER_BOT","func":"msg.payload = {\n    \"action\": \"REGISTER_BOT\",\n    \"feature\": {\n        \"name\": \"botTime\",\n        \"effect\": \"time\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":387.5833740234375,"y":132.49996948242188,"wires":[["e3e22f0e.975ab","f419156b.3cb38"]]},{"id":"e3e22f0e.975ab","type":"switch","z":"1c492e82.f10699","name":"ACTION","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"REGISTER_BOT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":659.4166870117188,"y":132.00003051757812,"wires":[["ef08b569.0f777"]]},{"id":"5d7072c8.790fd4","type":"inject","z":"1c492e82.f10699","name":"","topic":"System/Start","payload":"{\"action\":\"REGISTER_BOT\",\"feature\":{\"name\":\"botTime\",\"effect\":\"time\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":129,"y":133,"wires":[["71bf7763.c4ef6"]]},{"id":"ef08b569.0f777","type":"debug","z":"1c492e82.f10699","name":"SYSTEM.BOTS.TIMER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":728,"y":38.833351135253906,"wires":[]},{"id":"f419156b.3cb38","type":"ui_button","z":"1c492e82.f10699","name":"","group":"64e4dbc9.857734","order":0,"width":"6","height":"6","passthru":false,"label":"Timer Bot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":536.5833129882812,"y":241.8333740234375,"wires":[[]]},{"id":"64e4dbc9.857734","type":"ui_group","z":"","name":"Librería de bots","tab":"15f7ee1c.d252f2","disp":true,"width":"6","collapse":true},{"id":"15f7ee1c.d252f2","type":"ui_tab","z":"","name":"Ajustes","icon":"free-code-camp","order":2},{"id":"246c17cc.f34108","type":"subflow","name":"bot engine","info":"Holds initialization for scenario on a room for boots.","category":"AlephClan","in":[{"x":45.00001525878906,"y":91.00000762939453,"wires":[{"id":"a71788d7.6da34"}]}],"out":[{"x":698.0000610351562,"y":269,"wires":[{"id":"ffe05f4d.44f8e8","port":0}]}]},{"id":"6c7bb494.33f2f4","type":"function","z":"246c17cc.f34108","name":"INIT FEATURES","func":"var features = [];\ncontext.set('features', features);\ncontext.global.features = features;\nmsg.payload.debug = \"Bot is now running!\"\nreturn msg;","outputs":1,"noerr":0,"x":415.16668701171875,"y":155.83328247070312,"wires":[["ffe05f4d.44f8e8"]]},{"id":"12111f61.b4c829","type":"inject","z":"246c17cc.f34108","name":"","topic":"BotTimer.Init","payload":"{\"action\": \"INIT_ENGINE\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":133.1666717529297,"y":37.83332061767578,"wires":[["a71788d7.6da34"]]},{"id":"6337d17a.407448","type":"function","z":"246c17cc.f34108","name":"ADD FEATURE","func":"var features = context.get('features');\nvar features = context.global.features;\nfeatures.push(msg.payload.feature);\nmsg.payload.features = features;\nreturn msg;","outputs":1,"noerr":0,"x":276.16668701171875,"y":341.5,"wires":[["ffe05f4d.44f8e8"]]},{"id":"a12465f7.d03d7","type":"debug","z":"246c17cc.f34108","name":"SYSTEM.ENGINE.ACTIONS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":402.16668701171875,"y":61.666664123535156,"wires":[]},{"id":"a71788d7.6da34","type":"switch","z":"246c17cc.f34108","name":"ACTION","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"INIT_ENGINE","vt":"str"},{"t":"eq","v":"REGISTER_BOT","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":159.58335876464844,"y":240.83334350585938,"wires":[["a12465f7.d03d7","6c7bb494.33f2f4"],["6337d17a.407448"]]},{"id":"ffe05f4d.44f8e8","type":"function","z":"246c17cc.f34108","name":"OUTPUT","func":"var features = context.get('features');\nmsg.features = features;\nreturn msg;","outputs":1,"noerr":0,"x":522.5833740234375,"y":276.4999694824219,"wires":[[]]},{"id":"c03ded35.540288","type":"subflow","name":"Servidor ","info":"Representa a un LAMP, a un MEAN, a un .NET...","category":"TutorialIoT","in":[{"x":50,"y":30,"wires":[{"id":"360b87b3.c66c78"}]}],"out":[{"x":552,"y":357,"wires":[{"id":"9295eb57.74b1b8","port":0}]}],"icon":"node-red/white-globe.png"},{"id":"9abb6716.982b28","type":"debug","z":"c03ded35.540288","name":"BotEngine.debug.node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":637.4166107177734,"y":266.0833435058594,"wires":[]},{"id":"9295eb57.74b1b8","type":"subflow:246c17cc.f34108","z":"c03ded35.540288","name":"Engine","x":330.24998474121094,"y":266.58331298828125,"wires":[["9abb6716.982b28","80300f36.4d03a8"]]},{"id":"7324f3b3.a41e6c","type":"subflow:1c492e82.f10699","z":"c03ded35.540288","name":"","x":169.99996948242188,"y":265.91668701171875,"wires":[["9295eb57.74b1b8"]]},{"id":"360b87b3.c66c78","type":"subflow:eb7a9a04.008ae8","z":"c03ded35.540288","name":"Server","x":159,"y":165.24996185302734,"wires":[["9295eb57.74b1b8"]]},{"id":"80300f36.4d03a8","type":"subflow:3f8a33f3.ef5d2c","z":"c03ded35.540288","name":"Features","x":451.19993591308594,"y":173.08331298828125,"wires":[]},{"id":"7d986fa8.6336f8","type":"subflow","name":"IANA","info":"We are responsible for global coordination of \nthe Internet Protocol addressing systems,\nas well as the Autonomous System Numbers \nused for routing Internet traffic.","category":"TutorialIoT","in":[],"out":[]},{"id":"a5fe87a0.b56be8","type":"subflow","name":"DNS","info":"Represents a Domain Name Server.","category":"TutorialIoT","in":[],"out":[],"icon":"node-red/leveldb.png"},{"id":"eac1331.9f204d","type":"subflow","name":"ISP","info":"Represents an Internet Servide Provider. Mantains\ntransport layer.","category":"TutorialIoT","in":[],"out":[],"icon":"node-red/debug.png"},{"id":"f48fa38d.461ee8","type":"subflow","name":"botTurtleOnAnElephant","info":"Represents kernel for internet on OSI overview.","category":"AlephClan","in":[{"x":72,"y":274.00000762939453,"wires":[]}],"out":[{"x":920,"y":291.00000762939453,"wires":[]},{"x":913.9999389648438,"y":181,"wires":[]}],"icon":"node-red/light.png"},{"id":"dcb4d4af.be29a8","type":"subflow:eac1331.9f204d","z":"f48fa38d.461ee8","name":"España","x":309.0833282470703,"y":337.9167022705078,"wires":[]},{"id":"33d7b6d1.032b12","type":"subflow:eac1331.9f204d","z":"f48fa38d.461ee8","name":"Francia","x":618.0833129882812,"y":340.91668701171875,"wires":[]},{"id":"9e0f0f6b.63d798","type":"subflow:a5fe87a0.b56be8","z":"f48fa38d.461ee8","name":"ICANN","x":460.20001220703125,"y":444.66668701171875,"wires":[]},{"id":"c12fb1f9.d99c8","type":"subflow:7d986fa8.6336f8","z":"f48fa38d.461ee8","name":"","x":460.20001220703125,"y":309.16668701171875,"wires":[]},{"id":"57e29809.58db7","type":"tab","label":"Alephbot v14","disabled":false,"info":"IBM Watson bot to chat against Denis number four\nneuronal network. Fight for Turing test."},{"id":"381a8c8c.e65cfc","type":"inject","z":"57e29809.58db7","name":"ADD FEATURE MOCKUP","topic":"","payload":"{\"action\":\"REGISTER_BOT\",\"feature\":{\"name\":\"botTime\",\"effect\":\"time\"}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"3","x":246.5833282470703,"y":522.8333435058594,"wires":[[]]},{"id":"110454ce.4dbb53","type":"subflow:f48fa38d.461ee8","z":"57e29809.58db7","name":"Cloud","x":700.7832641601562,"y":331.8333435058594,"wires":[[],[]]},{"id":"52dd1e81.4bdb9","type":"inject","z":"57e29809.58db7","name":"","topic":"InitialSeed","payload":"{\"label\":\"Madrid\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":164.0833282470703,"y":44.083335876464844,"wires":[["fdb36008.e2df18"]]},{"id":"e47abe76.a4667","type":"inject","z":"57e29809.58db7","name":"","topic":"InitialSeed","payload":"{\"label\":\"París\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":163.0833282470703,"y":84.08333587646484,"wires":[["c1229045.236508"]]},{"id":"52122f73.d7a21","type":"subflow:c03ded35.540288","z":"57e29809.58db7","name":"París","x":559.0833129882812,"y":162.08334350585938,"wires":[["110454ce.4dbb53"]]},{"id":"1472b84b.1b7ad","type":"subflow:c03ded35.540288","z":"57e29809.58db7","name":"Madrid","x":555.5,"y":118.5000228881836,"wires":[["110454ce.4dbb53"]]},{"id":"fdb36008.e2df18","type":"subflow:eaadd764.1664f8","z":"57e29809.58db7","name":"","x":400.20001220703125,"y":118.58333587646484,"wires":[["1472b84b.1b7ad"]]},{"id":"c1229045.236508","type":"subflow:eaadd764.1664f8","z":"57e29809.58db7","name":"","x":399.20001220703125,"y":160.58334350585938,"wires":[["52122f73.d7a21"]]},{"id":"a60e02d2.bd65c8","type":"subflow:f48fa38d.461ee8","z":"57e29809.58db7","name":"Cloud","x":427.08331298828125,"y":334.0833435058594,"wires":[["1472b84b.1b7ad"],["52122f73.d7a21"]]}]
